* {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: kanit-Regular;
    src: url(fonts/Kanit-Regular.ttf);
}
@font-face {
    font-family:monoton-Regular ;
    src: url(fonts/Monoton-Regular.ttf);
}
body {
    background-color: #374151;
}
.container{
    width: 800px;
    margin: 30px auto;
}
.startPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.gameName p{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),-5px -5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    word-spacing: 40px;
    font-family: monoton-Regular;
    font-size: 5rem;
    padding: 2rem 6rem;
}
.playerSelectContainer {
    color: #94a3b8;
    font-family: kanit-Regular;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1.5rem;
    background-color: #374151;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),-5px -5px 10px rgba(0, 0, 0, 0.5);
}
.playerSelectContainer>div{
    display:flex;
}
.playerSelectContainer div div {
    width: 200px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:20px
}
.selectSignButton {
    width: 110px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;
    background-color: #374151;
}
.playerSelectContainer input[type=text] {
    cursor:pointer; 
    font-family: kanit-Regular;
    font-size: 1rem;
    background-color: #94a3b8 ;
    border: 0px solid;
    height:26px;
    width:150px;
    border-radius: 8px;
    padding: 8px 14px;
}
.playerSelectContainer input[type=text]:focus {
    outline: none;
}
.selectSignButton:hover {
    box-shadow: none;
}
.selectSignButton:focus {
    box-shadow: none;
}
#startButton {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),-5px -5px 10px rgba(0, 0, 0, 0.5);
    background-color: #34C3BE;
    font-family: kanit-Regular;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 10px 40px;
    cursor:pointer; 
}
#startButton:hover {
    box-shadow: none;
    background-color: #4be1dc;
}
.gamePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.resetButtonContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nextRoundButton {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),-5px -5px 10px rgba(0, 0, 0, 0.5);
    background-color: #34C3BE;
    font-family: kanit-Regular;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 10px 40px;
}
#nextRoundButton:hover {
    background-color: #4be1dc;
    box-shadow: none;
    cursor:pointer; 
}
#newGameButton {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),-5px -5px 10px rgba(0, 0, 0, 0.5);
    background-color: #34C3BE;
    font-family: kanit-Regular;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 10px 40px;
}
#newGameButton:hover {
    background-color: #4be1dc;
    box-shadow: none;
    cursor:pointer;
}
#resetButton {
    background-color: #374151;
    width: 77px;
    height: 77px;
    border:none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),-5px -5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
#resetButton:hover {
    box-shadow: none;
    border: 1px solid black;
}
.gameContainer{
    width: 30vw;
    height: 30vw;
    display:grid;
    grid-template-columns: repeat(3,1fr) ;
    grid-template-rows: repeat(3,1fr) ;
    gap:2rem;
} 
.square {
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),-5px -5px 10px rgba(0, 0, 0, 0.5);
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gameScoreContainer{
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.gameScoreContainerinfo{
    font-family: kanit-Regular;
    font-weight: bold;
    width: 200px;
    height: 70px;
    font-size: 1.2rem;
    text-align: center;
    padding: 0.3rem;
    border:none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),-5px -5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
#playerXinfo {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),-5px -5px 10px rgba(255, 0, 0, 0.5);
    text-shadow: rgba(255, 0, 0, 0.5) 1px 0 5px;
}
#tieInfo {
    box-shadow: 5px -5px 10px rgba(52, 195, 190, 0.5), -5px 5px 10px rgba(52, 195, 190, 0.5);
    text-shadow: rgba(52, 195, 190, 0.5) 1px 0 5px;
}
#playerOinfo {
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5),5px -5px 10px rgba(251, 191, 36, 0.5);
    text-shadow: rgba(251, 191, 36, 0.5) 1px 0 5px;
}
.gameInfoContainer {
    display: flex;
}